.about {
  padding: 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0%;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 6px;
}

.action-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media screen and (min-width: 400px) {
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 399px) {
  .hide-mobile {
    display: none;
  }
}
.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    margin: auto;
    width: 1140px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    align-items: center;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex: 1;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  color: #009b4d;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-bottom: 0;
  margin-top: 24px;
}
.features__description {
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}
.features__advantage-header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
  margin: 0;
  margin-left: 15px;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
  font-weight: 400;
}
.features__advantage-item {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage-subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  height: 166px;
  position: absolute;
  top: 258px;
}
.features__bunner {
  position: absolute;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}
.footer-links {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    align-items: center;
  }
}
.footer-line {
  border-top: 1px solid #2b292d;
  width: 100%;
  margin: 0;
  opacity: 0.1;
  margin-top: 40px;
  height: 50px;
}
@media screen and (min-width: 1400px) {
  .footer-line {
    margin: 0;
  }
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  color: #2b292d;
  opacity: 0.6;
  margin-top: 26px;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    height: 338px;
  }
}

.terms {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
}
@media screen and (min-width: 1400px) {
  .terms {
    line-height: 50px;
    margin-top: 30px;
  }
}
.terms__item {
  text-decoration: none;
  color: #2b292d;
  opacity: 0.6;
  margin-right: 22px;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-bottom: 0;
  }
}
.social-links__icon {
  margin-left: 20px;
}
.social-links__icon__icon:first-child {
  margin-left: 0;
}

.google_imeg {
  margin-left: 10px;
}

.downloads {
  justify-content: left;
  margin: 0;
  margin-top: 25px;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 25px 15px 0px 15px;
    display: flex;
    justify-content: center;
  }
}
.downloads__item {
  margin-right: 10px;
}

.about-company {
  margin-top: 44px;
}

.additional-navigation {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
.additional-navigation__column {
  margin-right: 29px;
  margin-top: 0;
  margin-top: 30px;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.nav-links__list {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}

.header {
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-button-icon {
  width: 18px;
  height: 13px;
}

.logo {
  display: flex;
}
.logo__image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 60%;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  background-image: url(imeg/Arrow.png);
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 11px;
}

.top__section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top__section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__learn-more-btn {
  width: 158px;
  height: 48px;
  font-size: 18px;
  color: #3040c4;
  border-color: #fff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.headline_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .headline_title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 0;
  }
}
.headline_description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline_description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.tips {
  margin-top: 8px;
  /* display: flex;
  position: relative; */
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  margin-top: 17px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  margin: 0;
  margin-top: 13px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin: auto;
  margin-top: 29px;
}
.tip__image-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  max-width: 100%;
}

.audiences {
  background-color: rgba(0, 161, 198, 0.0705882353);
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .audiences {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .audiences__text {
    display: flex;
    flex-direction: column;
    width: 555px;
  }
}
.audiences__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
.audiences__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin-top: 17px;
}
.audiences__discription {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .audiences__buttons {
    display: flex;
    flex-direction: row;
  }
}
.audiences-btn {
  width: 100%;
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audiences__images {
    display: flex;
    flex-direction: row;
    margin: 100px;
  }
}
.audiences__square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: #fff;
}
.audiences__square:nth-child(2) {
  background-color: #3141c5;
}
@media screen and (min-width: 1400px) {
  .audiences__square {
    display: flex;
    width: 262px;
    height: 300px;
    margin: 0%;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
  }
}
.audiences__caption {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-top: 22px;
  margin-bottom: 33px;
  color: #2b292d;
}
.audiences__caption:nth-last-child(2) {
  color: #fff;
}
.audiences__image {
  margin-top: 22px;
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  .order__detailes {
    max-width: 555px;
  }
}
.order__illustration {
  max-width: 220px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
}
.order__text {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
    max-width: 385px;
    flex: 1;
  }
}
.order__button {
  margin-top: 12px;
}
@media screen and (max-width: 1399px) {
  .order__button {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142c6;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
