.action-button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  background-color: #3040c4;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

@media screen and (min-width: 400px) {
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 399px) {
  .hide-mobile {
    display: none;
  }
}
