.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  .logo {
    @include for-large-down {
      display: none;
    }
  }

  &-links {
    display: flex;
    margin-left: 15px;
    flex-direction: column;

    @include for-large-up {
      flex-direction: row;
      width: 1140px;
      margin: 0 auto;
      align-items: center;
    }
  }
  &-line {
    border-top: 1px solid #2b292d;
    width: 100%;
    margin: 0;
    opacity: 0.1;
    margin-top: 40px;
    height: 50px;

    @include for-large-up {
      margin: 0;
    }
  }

  &__description {
    display: none;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    color: #2b292d;
    opacity: 0.6;
    margin-top: 26px;
    @include for-large-up {
      display: block;
    }
  }
  &-navigation {
    display: flex;
    flex-direction: column;
    margin: 0;
    @include for-large-up {
      display: flex;
      flex-direction: row;
      width: 1140px;
      margin: 0 auto;
      height: 338px;
    }
  }
}
.terms {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
  @include for-large-up {
    line-height: 50px;
    margin-top: 30px;
  }

  &__item {
    text-decoration: none;
    color: #2b292d;
    opacity: 0.6;
    margin-right: 22px;
  }
}
.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
  @include for-large-up {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-bottom: 0;
  }

  &__icon {
    margin-left: 20px;
    &__icon:first-child {
      margin-left: 0;
    }
  }
}

.google_imeg {
  margin-left: 10px;
}

.downloads {
  justify-content: left;
  margin: 0;
  margin-top: 25px;
  @include for-large-up {
    margin: 25px 15px 0px 15px;
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-right: 10px;
  }
}
.about-company {
  margin-top: 44px;
}

.additional-navigation {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: column;
  @include for-large-up {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
  &__column {
    margin-right: 29px;
    margin-top: 0;
    margin-top: 30px;
  }
}
.nav-links {
  width: 265px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0;
  }
  &__list {
    list-style: none;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    margin: 0;
    padding: 0;
    margin-top: 18px;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-large-up {
    display: none;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }
  &__description {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2b292d99;
  }
  &__image {
    width: 60px;
    height: 60px;
  }
}
