.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
  @include for-large-up {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__detailes {
    @include for-large-up {
      max-width: 555px;
    }
  }
  &__illustration {
    max-width: 220px;
    @include for-large-up {
      max-width: 269px;
      margin-right: 121px;
    }
  }
  &__title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.25px;
  }
  &__text {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    margin-top: 18px;
  }
  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
    }
  }
  &__email {
    height: 48px;
    margin-top: 40px;
    background: #ffffff;
    border: 1px solid #2b292d33;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    &::placeholder {
      color: #2b292d;
    }
    @include for-large-up {
      margin-top: 0;
      max-width: 385px;
      flex: 1;
    }
  }
  &__button {
    margin-top: 12px;
    @include for-large-down {
      width: 100%;
    }
    @include for-large-up {
      margin-top: 0;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }
  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: #2b292d99;
  }
  &__terms-link {
    color: #3142c6;
  }
}
